node-red-roomba/flows.json
[
    {
        "id": "79e0000ef76bb4d1",
        "type": "tab",
        "label": "Roomba 5xx Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f2cabae8eb792e65",
        "type": "ui_group",
        "name": "Remote control",
        "tab": "fe3ba83191bb4378",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe3ba83191bb4378",
        "type": "ui_tab",
        "name": "Roomba Control and Telemetry",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "b11fcbb957b35dc9",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 12,
                "cy": 12,
                "px": 20,
                "py": 20
            }
        }
    },
    {
        "id": "8ef9680d6653a048",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "fe3ba83191bb4378",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca461530954d3a0b",
        "type": "ui_group",
        "name": "Motors",
        "tab": "fe3ba83191bb4378",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9077937c483ac061",
        "type": "ui_spacer",
        "z": "79e0000ef76bb4d1",
        "name": "spacer",
        "group": "f2cabae8eb792e65",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "5d7a4af9cb05e171",
        "type": "ui_spacer",
        "z": "79e0000ef76bb4d1",
        "name": "spacer",
        "group": "f2cabae8eb792e65",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "cb68bfafd429936f",
        "type": "ui_spacer",
        "z": "79e0000ef76bb4d1",
        "name": "spacer",
        "group": "f2cabae8eb792e65",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "67fecf3d19de7dd6",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "batteryCharge",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "2c395ee175a98ccb"
            ]
        ],
        "outputLabels": [
            "batteryCharge"
        ]
    },
    {
        "id": "2c395ee175a98ccb",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "f2cabae8eb792e65",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Current Capacity",
        "format": "{{msg.payload.data}} mAh",
        "layout": "row-spread",
        "className": "",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "4dcccb289c1b8908",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "batteryCapacity",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "c0e1794708f2edf8"
            ]
        ],
        "outputLabels": [
            "batteryCapacity"
        ]
    },
    {
        "id": "c0e1794708f2edf8",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "f2cabae8eb792e65",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Maximum Capacity",
        "format": "{{msg.payload.data}} mAh",
        "layout": "row-spread",
        "className": "",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "7b8b7d281c061a29",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "group": "f2cabae8eb792e65",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "keyboard_arrow_left",
        "payload": "{\"amount\":1}",
        "payloadType": "json",
        "topic": "direction",
        "topicType": "str",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "f64711538ce0a388"
            ]
        ]
    },
    {
        "id": "5339681ff9e2a106",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "group": "f2cabae8eb792e65",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "keyboard_arrow_right",
        "payload": "{\"amount\":-1}",
        "payloadType": "json",
        "topic": "direction",
        "topicType": "str",
        "x": 550,
        "y": 360,
        "wires": [
            [
                "803001a20e67358b"
            ]
        ]
    },
    {
        "id": "a4c000ae8ca596da",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "group": "f2cabae8eb792e65",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "payload": "{\"amount\":0}",
        "payloadType": "json",
        "topic": "direction",
        "topicType": "str",
        "x": 550,
        "y": 540,
        "wires": [
            [
                "b18ec18ea65b8882"
            ]
        ]
    },
    {
        "id": "3894165037e61d76",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "group": "f2cabae8eb792e65",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Forward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "keyboard_arrow_up",
        "payload": "{\"amount\":1}",
        "payloadType": "json",
        "topic": "direction",
        "topicType": "str",
        "x": 540,
        "y": 500,
        "wires": [
            [
                "db8909fb0f796672"
            ]
        ]
    },
    {
        "id": "cea9191fb0af67af",
        "type": "ros-publisher",
        "z": "79e0000ef76bb4d1",
        "topicname": "cmd_vel",
        "typepackage": "geometry_msgs",
        "typename": "Twist",
        "x": 1380,
        "y": 420,
        "wires": []
    },
    {
        "id": "5fbfb36b49121379",
        "type": "ui_slider",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "label": "Drive Speed",
        "tooltip": "",
        "group": "f2cabae8eb792e65",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "speed",
        "topicType": "str",
        "min": "-0.8",
        "max": "0.8",
        "step": "0.05",
        "className": "",
        "x": 530,
        "y": 440,
        "wires": [
            [
                "db8909fb0f796672",
                "b18ec18ea65b8882"
            ]
        ]
    },
    {
        "id": "422163e2c3e6f641",
        "type": "ui_slider",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "label": "Rotation Speed",
        "tooltip": "",
        "group": "f2cabae8eb792e65",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "speed",
        "topicType": "str",
        "min": "-1",
        "max": "1",
        "step": "0.1",
        "className": "",
        "x": 520,
        "y": 260,
        "wires": [
            [
                "f64711538ce0a388",
                "803001a20e67358b"
            ]
        ]
    },
    {
        "id": "5b26fbd6d9f1503c",
        "type": "function",
        "z": "79e0000ef76bb4d1",
        "name": "Create Drive Message",
        "func": "if (msg.payload.speed && msg.payload.direction) {\n    msg.payload = {\n        \"linear\": {\n            \"x\": msg.payload.speed.payload * msg.payload.direction.payload.amount,\n            \"y\": 0,\n            \"z\": 0\n        },\n        \"angular\": {\n            \"x\": 0,\n            \"y\": 0,\n            \"z\": 0\n        }\n    }\n} else {\n    msg.payload = {\n        \"linear\": {\n            \"x\": 0,\n            \"y\": 0,\n            \"z\": 0\n        },\n        \"angular\": {\n            \"x\": 0,\n            \"y\": 0,\n            \"z\": 0\n        }\n    }    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nif (flow.get(\"drivespeed\") === undefined) {\n    flow.set(\"drivespeed\", 0.20)\n}",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 500,
        "wires": [
            [
                "d5bfcdd6d51617b8",
                "cea9191fb0af67af"
            ]
        ]
    },
    {
        "id": "73884110c7794b9c",
        "type": "function",
        "z": "79e0000ef76bb4d1",
        "name": "Create Turn Message",
        "func": "if (msg.payload.speed && msg.payload.direction) {\n    msg.payload = {\n        \"linear\": {\n            \"x\": 0,\n            \"y\": 0,\n            \"z\": 0\n        },\n        \"angular\": {\n            \"x\": 0,\n            \"y\": 0,\n            \"z\": msg.payload.speed.payload * msg.payload.direction.payload.amount\n        }\n    }\n} else {\n    msg.payload = {\n        \"linear\": {\n            \"x\": 0,\n            \"y\": 0,\n            \"z\": 0\n        },\n        \"angular\": {\n            \"x\": 0,\n            \"y\": 0,\n            \"z\": 0\n        }\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nif (flow.get(\"rotationspeed\") === undefined) {\n    flow.set(\"rotationspeed\", 0.35)\n}",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 320,
        "wires": [
            [
                "d5bfcdd6d51617b8",
                "cea9191fb0af67af"
            ]
        ]
    },
    {
        "id": "5a4dd8914d4aad65",
        "type": "ui_template",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "name": "Bumper left",
        "order": 1,
        "width": 2,
        "height": 1,
        "format": "L Bumper : <span ng-bind-html=\"msg.payload.data\"></span>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 490,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "dce9f7aef808323d",
        "type": "ui_template",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "name": "Number right",
        "order": 3,
        "width": 2,
        "height": 1,
        "format": "R Bumper: <span ng-bind-html=\"msg.payload.data\"></span>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 480,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "f7496856c7a8e21c",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Light Sensor Left",
        "format": "{{msg.payload.data}}",
        "layout": "row-spread",
        "className": "",
        "x": 480,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ea57022ba7ad74b6",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Light Sensor Front Left",
        "format": "{{msg.payload.data}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 1160,
        "wires": []
    },
    {
        "id": "160ba99e6c04895c",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Light Sensor Center Left",
        "format": "{{msg.payload.data}}",
        "layout": "row-spread",
        "className": "",
        "x": 500,
        "y": 1220,
        "wires": []
    },
    {
        "id": "734946f11c40bb2f",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Light Sensor Center Right",
        "format": "{{msg.payload.data}}",
        "layout": "row-spread",
        "className": "",
        "x": 500,
        "y": 1280,
        "wires": []
    },
    {
        "id": "7fc5831e9ea786c1",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Light Sensor Front Right",
        "format": "{{msg.payload.data}}",
        "layout": "row-spread",
        "className": "",
        "x": 500,
        "y": 1340,
        "wires": []
    },
    {
        "id": "0246d7414b336d3a",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Light Sensor Right",
        "format": "{{msg.payload.data}}",
        "layout": "row-spread",
        "className": "",
        "x": 480,
        "y": 1400,
        "wires": []
    },
    {
        "id": "3015ddafa4361ecf",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "lightBumperLeft",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "f7496856c7a8e21c"
            ]
        ]
    },
    {
        "id": "600d7a951dbfe85f",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "lightBumperFrontLeft",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "ea57022ba7ad74b6"
            ]
        ]
    },
    {
        "id": "f19bcf05f34e16aa",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "lightBumperCenterLeft",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 170,
        "y": 1220,
        "wires": [
            [
                "160ba99e6c04895c"
            ]
        ]
    },
    {
        "id": "03d9ab329227f8a5",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "lightBumperCenterRight",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 180,
        "y": 1280,
        "wires": [
            [
                "734946f11c40bb2f"
            ]
        ]
    },
    {
        "id": "bd7b22b7180c6f98",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "lightBumperFrontRight",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 180,
        "y": 1340,
        "wires": [
            [
                "7fc5831e9ea786c1"
            ]
        ]
    },
    {
        "id": "68d2e7a2e1f2e14e",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "lightBumperRight",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 190,
        "y": 1400,
        "wires": [
            [
                "0246d7414b336d3a"
            ]
        ]
    },
    {
        "id": "d5bfcdd6d51617b8",
        "type": "debug",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 220,
        "wires": []
    },
    {
        "id": "067eb919ec7a6859",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "bumperLeft",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 170,
        "y": 960,
        "wires": [
            [
                "5a4dd8914d4aad65"
            ]
        ]
    },
    {
        "id": "8f861f42d1215782",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "bumperRight",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "dce9f7aef808323d"
            ]
        ]
    },
    {
        "id": "f64711538ce0a388",
        "type": "join",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "73884110c7794b9c"
            ]
        ]
    },
    {
        "id": "803001a20e67358b",
        "type": "join",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 730,
        "y": 360,
        "wires": [
            [
                "73884110c7794b9c"
            ]
        ]
    },
    {
        "id": "db8909fb0f796672",
        "type": "join",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 730,
        "y": 480,
        "wires": [
            [
                "5b26fbd6d9f1503c"
            ]
        ]
    },
    {
        "id": "b18ec18ea65b8882",
        "type": "join",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 730,
        "y": 540,
        "wires": [
            [
                "5b26fbd6d9f1503c"
            ]
        ]
    },
    {
        "id": "d638bad66f0d9918",
        "type": "ui_ui_control",
        "z": "79e0000ef76bb4d1",
        "name": "On connect",
        "events": "all",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "f1fd0bee98cd41b9",
                "7cc402fcbb58a04f",
                "476015931fb46cd4"
            ]
        ]
    },
    {
        "id": "f1fd0bee98cd41b9",
        "type": "function",
        "z": "79e0000ef76bb4d1",
        "name": "Initial value",
        "func": "msg.payload=0.35\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "422163e2c3e6f641"
            ]
        ]
    },
    {
        "id": "7cc402fcbb58a04f",
        "type": "function",
        "z": "79e0000ef76bb4d1",
        "name": "Initial value",
        "func": "msg.payload = 0.25\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 440,
        "wires": [
            [
                "5fbfb36b49121379"
            ]
        ]
    },
    {
        "id": "d2d87a36fe873e76",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "oimode",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 180,
        "y": 1460,
        "wires": [
            [
                "adfb5a5a0ca826e5"
            ]
        ]
    },
    {
        "id": "adfb5a5a0ca826e5",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "OI Mode",
        "format": "{{msg.payload.data}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 1460,
        "wires": []
    },
    {
        "id": "1fd15b807ad8877f",
        "type": "ui_slider",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "label": "Vacuum speed",
        "tooltip": "",
        "group": "ca461530954d3a0b",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-128",
        "max": "127",
        "step": 1,
        "className": "",
        "x": 540,
        "y": 620,
        "wires": [
            [
                "ed0325582d40f8b6"
            ]
        ]
    },
    {
        "id": "c5aa442799636307",
        "type": "ros-publisher",
        "z": "79e0000ef76bb4d1",
        "topicname": "cmd_vacuum",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 1070,
        "y": 620,
        "wires": []
    },
    {
        "id": "476015931fb46cd4",
        "type": "function",
        "z": "79e0000ef76bb4d1",
        "name": "Initial value",
        "func": "msg.payload = 0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 620,
        "wires": [
            [
                "1fd15b807ad8877f",
                "2b7af452ea53a127",
                "0cad31f4fb3d4e67"
            ]
        ]
    },
    {
        "id": "ed0325582d40f8b6",
        "type": "function",
        "z": "79e0000ef76bb4d1",
        "name": "Create message",
        "func": "msg.payload = {\n    \"data\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 620,
        "wires": [
            [
                "8ce70808c403c812",
                "c5aa442799636307"
            ]
        ]
    },
    {
        "id": "8ce70808c403c812",
        "type": "debug",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 560,
        "wires": []
    },
    {
        "id": "2b7af452ea53a127",
        "type": "ui_slider",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "label": "Main brush speed",
        "tooltip": "",
        "group": "ca461530954d3a0b",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-128",
        "max": "128",
        "step": 1,
        "className": "",
        "x": 550,
        "y": 680,
        "wires": [
            [
                "4ad2ca379b1cd1c8"
            ]
        ]
    },
    {
        "id": "0cad31f4fb3d4e67",
        "type": "ui_slider",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "label": "Side brush speed",
        "tooltip": "",
        "group": "ca461530954d3a0b",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-128",
        "max": "127",
        "step": 1,
        "className": "",
        "x": 550,
        "y": 740,
        "wires": [
            [
                "8de667f5df80dc01"
            ]
        ]
    },
    {
        "id": "4ad2ca379b1cd1c8",
        "type": "function",
        "z": "79e0000ef76bb4d1",
        "name": "Create message",
        "func": "msg.payload = {\n    \"data\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 680,
        "wires": [
            [
                "de20c690785a4a5f",
                "8ce70808c403c812"
            ]
        ]
    },
    {
        "id": "8de667f5df80dc01",
        "type": "function",
        "z": "79e0000ef76bb4d1",
        "name": "Create message",
        "func": "msg.payload = {\n    \"data\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 740,
        "wires": [
            [
                "2b6fe3d3fdeefc67",
                "8ce70808c403c812"
            ]
        ]
    },
    {
        "id": "de20c690785a4a5f",
        "type": "ros-publisher",
        "z": "79e0000ef76bb4d1",
        "topicname": "cmd_mainbrush",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 1080,
        "y": 680,
        "wires": []
    },
    {
        "id": "2b6fe3d3fdeefc67",
        "type": "ros-publisher",
        "z": "79e0000ef76bb4d1",
        "topicname": "cmd_sidebrush",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 1080,
        "y": 740,
        "wires": []
    },
    {
        "id": "d6811efc61eddee9",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "Reset V",
        "group": "ca461530954d3a0b",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 700,
        "wires": [
            [
                "1fd15b807ad8877f"
            ]
        ]
    },
    {
        "id": "9b35786bb978e9f8",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "Reset MB",
        "group": "ca461530954d3a0b",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 760,
        "wires": [
            [
                "2b7af452ea53a127"
            ]
        ]
    },
    {
        "id": "78db9901760bbcc1",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "Reset SB",
        "group": "ca461530954d3a0b",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 820,
        "wires": [
            [
                "0cad31f4fb3d4e67"
            ]
        ]
    }
]