node-red-roomba/flows.json
[
    {
        "id": "79e0000ef76bb4d1",
        "type": "tab",
        "label": "Roomba 5xx Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9e84d8819fb7d001",
        "type": "ui_spacer",
        "z": "79e0000ef76bb4d1",
        "name": "spacer",
        "group": "f2cabae8eb792e65",
        "order": 2,
        "width": "3",
        "height": 1,
        "className": ""
    },
    {
        "id": "f2cabae8eb792e65",
        "type": "ui_group",
        "name": "Remote control",
        "tab": "fe3ba83191bb4378",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe3ba83191bb4378",
        "type": "ui_tab",
        "name": "Roomba Control and Telemetry",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "b11fcbb957b35dc9",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 12,
                "cy": 12,
                "px": 20,
                "py": 20
            }
        }
    },
    {
        "id": "67fecf3d19de7dd6",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "batteryCharge",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "2c395ee175a98ccb"
            ]
        ],
        "outputLabels": [
            "batteryCharge"
        ]
    },
    {
        "id": "2c395ee175a98ccb",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "f2cabae8eb792e65",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Current Capacity",
        "format": "{{msg.payload.data}} mAh",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "4dcccb289c1b8908",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "batteryCapacity",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "c0e1794708f2edf8"
            ]
        ],
        "outputLabels": [
            "batteryCapacity"
        ]
    },
    {
        "id": "c0e1794708f2edf8",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "f2cabae8eb792e65",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Maximum Capacity",
        "format": "{{msg.payload.data}} mAh",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "7b8b7d281c061a29",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "group": "f2cabae8eb792e65",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "keyboard_arrow_left",
        "payload": "{\"linear\":{\"x\":0,\"y\":0,\"z\":0},\"angular\":{\"x\":0,\"y\":0,\"z\":0.35}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "cea9191fb0af67af"
            ]
        ]
    },
    {
        "id": "5339681ff9e2a106",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "group": "f2cabae8eb792e65",
        "order": 6,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "keyboard_arrow_right",
        "payload": "{\"linear\":{\"x\":0,\"y\":0,\"z\":0},\"angular\":{\"x\":0,\"y\":0,\"z\":-0.35}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "cea9191fb0af67af"
            ]
        ]
    },
    {
        "id": "a4c000ae8ca596da",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "group": "f2cabae8eb792e65",
        "order": 5,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "payload": "{\"linear\":{\"x\":0,\"y\":0,\"z\":0},\"angular\":{\"x\":0,\"y\":0,\"z\":0}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "cea9191fb0af67af"
            ]
        ]
    },
    {
        "id": "3894165037e61d76",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "group": "f2cabae8eb792e65",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Forward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "keyboard_arrow_up",
        "payload": "{\"linear\":{\"x\":0.125,\"y\":0,\"z\":0},\"angular\":{\"x\":0,\"y\":0,\"z\":0}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "cea9191fb0af67af"
            ]
        ]
    },
    {
        "id": "cea9191fb0af67af",
        "type": "ros-publisher",
        "z": "79e0000ef76bb4d1",
        "topicname": "cmd_vel",
        "typepackage": "geometry_msgs",
        "typename": "Twist",
        "x": 520,
        "y": 440,
        "wires": []
    }
]