node-red-roomba/flows.json
[
    {
        "id": "79e0000ef76bb4d1",
        "type": "tab",
        "label": "Roomba 5xx Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f2cabae8eb792e65",
        "type": "ui_group",
        "name": "Remote control",
        "tab": "fe3ba83191bb4378",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe3ba83191bb4378",
        "type": "ui_tab",
        "name": "Roomba Control and Telemetry",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "b11fcbb957b35dc9",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 12,
                "cy": 12,
                "px": 20,
                "py": 20
            }
        }
    },
    {
        "id": "8ef9680d6653a048",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "fe3ba83191bb4378",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a82a9d760537016a",
        "type": "ui_spacer",
        "z": "79e0000ef76bb4d1",
        "name": "spacer",
        "group": "f2cabae8eb792e65",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "eaa01d8f9fa4e14b",
        "type": "ui_spacer",
        "z": "79e0000ef76bb4d1",
        "name": "spacer",
        "group": "f2cabae8eb792e65",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "1409cf0f91bc2b63",
        "type": "ui_spacer",
        "z": "79e0000ef76bb4d1",
        "name": "spacer",
        "group": "f2cabae8eb792e65",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "02a0706841c02930",
        "type": "ui_spacer",
        "z": "79e0000ef76bb4d1",
        "name": "spacer",
        "group": "8ef9680d6653a048",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "67fecf3d19de7dd6",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "batteryCharge",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "2c395ee175a98ccb"
            ]
        ],
        "outputLabels": [
            "batteryCharge"
        ]
    },
    {
        "id": "2c395ee175a98ccb",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "f2cabae8eb792e65",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Current Capacity",
        "format": "{{msg.payload.data}} mAh",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "4dcccb289c1b8908",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "batteryCapacity",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "c0e1794708f2edf8"
            ]
        ],
        "outputLabels": [
            "batteryCapacity"
        ]
    },
    {
        "id": "c0e1794708f2edf8",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "f2cabae8eb792e65",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Maximum Capacity",
        "format": "{{msg.payload.data}} mAh",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "7b8b7d281c061a29",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "group": "f2cabae8eb792e65",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "keyboard_arrow_left",
        "payload": "{\"amount\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "73884110c7794b9c"
            ]
        ]
    },
    {
        "id": "5339681ff9e2a106",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "group": "f2cabae8eb792e65",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "keyboard_arrow_right",
        "payload": "{\"amount\":-1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "73884110c7794b9c"
            ]
        ]
    },
    {
        "id": "a4c000ae8ca596da",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "group": "f2cabae8eb792e65",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "payload": "{\"amount\":0}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "5b26fbd6d9f1503c"
            ]
        ]
    },
    {
        "id": "3894165037e61d76",
        "type": "ui_button",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "group": "f2cabae8eb792e65",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Forward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "keyboard_arrow_up",
        "payload": "{\"amount\":1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "5b26fbd6d9f1503c"
            ]
        ]
    },
    {
        "id": "cea9191fb0af67af",
        "type": "ros-publisher",
        "z": "79e0000ef76bb4d1",
        "topicname": "cmd_vel",
        "typepackage": "geometry_msgs",
        "typename": "Twist",
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "5fbfb36b49121379",
        "type": "ui_slider",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "label": "Drive Speed",
        "tooltip": "",
        "group": "f2cabae8eb792e65",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "drivespeed",
        "topicType": "flow",
        "min": "-0.8",
        "max": "0.8",
        "step": "0.05",
        "className": "",
        "x": 710,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "422163e2c3e6f641",
        "type": "ui_slider",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "label": "Rotation Speed",
        "tooltip": "",
        "group": "f2cabae8eb792e65",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "rotationspeed",
        "topicType": "flow",
        "min": "-1",
        "max": "1",
        "step": "0.1",
        "className": "",
        "x": 720,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "5b26fbd6d9f1503c",
        "type": "function",
        "z": "79e0000ef76bb4d1",
        "name": "Create Drive Message",
        "func": "msg.payload = {\n    \"linear\": {\n        \"x\": flow.get(\"drivespeed\") * msg.payload.amount,\n        \"y\": 0,\n        \"z\": 0\n    },\n    \"angular\": {\n        \"x\": 0,\n        \"y\": 0,\n        \"z\": 0\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nif (flow.get(\"drivespeed\") === undefined) {\n    flow.set(\"drivespeed\", 0.20)\n}",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "d5bfcdd6d51617b8",
                "cea9191fb0af67af"
            ]
        ]
    },
    {
        "id": "73884110c7794b9c",
        "type": "function",
        "z": "79e0000ef76bb4d1",
        "name": "Create Turn Message",
        "func": "msg.payload = {\n    \"linear\": {\n        \"x\": 0,\n        \"y\": 0,\n        \"z\": 0\n    },\n    \"angular\": {\n        \"x\": 0,\n        \"y\": 0,\n        \"z\": flow.get(\"rotationspeed\") * msg.payload.amount\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Der Code hier wird ausgeführt,\n// wenn der Node gestartet wird\nif (flow.get(\"rotationspeed\") === undefined) {\n    flow.set(\"rotationspeed\", 0.35)\n}",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 420,
        "wires": [
            [
                "d5bfcdd6d51617b8",
                "cea9191fb0af67af"
            ]
        ]
    },
    {
        "id": "5a4dd8914d4aad65",
        "type": "ui_template",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "name": "Bumper left",
        "order": 1,
        "width": 2,
        "height": 1,
        "format": "<div ng-bind-html=\"msg.payload.value\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 410,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "dce9f7aef808323d",
        "type": "ui_template",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "name": "Number right",
        "order": 3,
        "width": 2,
        "height": 1,
        "format": "<div ng-bind-html=\"msg.payload.value\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 410,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "f7496856c7a8e21c",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Light Sensor Left",
        "format": "{{msg.payload.data}}",
        "layout": "row-spread",
        "className": "",
        "x": 410,
        "y": 720,
        "wires": []
    },
    {
        "id": "ea57022ba7ad74b6",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Light Sensor Front Left",
        "format": "{{msg.payload.data}}",
        "layout": "row-spread",
        "className": "",
        "x": 420,
        "y": 780,
        "wires": []
    },
    {
        "id": "160ba99e6c04895c",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Light Sensor Center Left",
        "format": "{{msg.payload.data}}",
        "layout": "row-spread",
        "className": "",
        "x": 430,
        "y": 840,
        "wires": []
    },
    {
        "id": "734946f11c40bb2f",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Light Sensor Center Right",
        "format": "{{msg.payload.data}}",
        "layout": "row-spread",
        "className": "",
        "x": 430,
        "y": 900,
        "wires": []
    },
    {
        "id": "7fc5831e9ea786c1",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Light Sensor Front Right",
        "format": "{{msg.payload.data}}",
        "layout": "row-spread",
        "className": "",
        "x": 430,
        "y": 960,
        "wires": []
    },
    {
        "id": "0246d7414b336d3a",
        "type": "ui_text",
        "z": "79e0000ef76bb4d1",
        "group": "8ef9680d6653a048",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Light Sensor Right",
        "format": "{{msg.payload.data}}",
        "layout": "row-spread",
        "className": "",
        "x": 410,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3015ddafa4361ecf",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "lightBumperLeft",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 80,
        "y": 720,
        "wires": [
            [
                "f7496856c7a8e21c"
            ]
        ]
    },
    {
        "id": "600d7a951dbfe85f",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "lightBumperFrontLeft",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 100,
        "y": 780,
        "wires": [
            [
                "ea57022ba7ad74b6"
            ]
        ]
    },
    {
        "id": "f19bcf05f34e16aa",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "lightBumperCenterLeft",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 100,
        "y": 840,
        "wires": [
            [
                "160ba99e6c04895c"
            ]
        ]
    },
    {
        "id": "03d9ab329227f8a5",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "lightBumperCenterRight",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 110,
        "y": 900,
        "wires": [
            [
                "734946f11c40bb2f"
            ]
        ]
    },
    {
        "id": "bd7b22b7180c6f98",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "lightBumperFrontRight",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 110,
        "y": 960,
        "wires": [
            [
                "7fc5831e9ea786c1"
            ]
        ]
    },
    {
        "id": "68d2e7a2e1f2e14e",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "lightBumperRight",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 120,
        "y": 1020,
        "wires": [
            [
                "0246d7414b336d3a"
            ]
        ]
    },
    {
        "id": "d5bfcdd6d51617b8",
        "type": "debug",
        "z": "79e0000ef76bb4d1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "067eb919ec7a6859",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "bumperLeft",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "5a4dd8914d4aad65"
            ]
        ]
    },
    {
        "id": "8f861f42d1215782",
        "type": "ros-subscriber",
        "z": "79e0000ef76bb4d1",
        "topicname": "bumperRight",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "dce9f7aef808323d"
            ]
        ]
    }
]